Package: com.chikuwa.sq
Name: SquareDots
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: makes springboard dots square
Maintainer: Caetano Melone <caetanomelone@gmail.com>
Author: Caetano Melone <caetanomelone@gmail.com>
Section: Tweaks
Version: 0.0.1-1

